.cover_menu{width: 100%;height: 20%;text-align: center;}

.cover_menu_item{ list-style: none;}

.cover_menu_item li{position: relative;display: inline-block;padding: 2%;width: 25%; }

.cover_menu_item a{text-decoration: none;color: black;}

.cover_menu_item li:hover{background-color: #d6d6d6;}

.cover_menu_item ul {background-color: #d6d6d6;position: absolute;display: none;top: 100%;left: 0;width: 100%;}

.cover_menu_item ul li{padding:0;width: 100%;display: block;list-style: none;position: relative;}

.cover_menu_item li:hover ul{display: block;padding: 0;}


/*    scheda prodotto */

.prodotto {position: relative;width: 60%;border: 2px solid red;margin: auto;height: 40%}
.logoProdotto{position: absolute;border: 2px solid gold;width: 30%;height: 85%;margin: 2%}
.prezzoProdotto{float: right;border: 2px solid greenyellow;width: 30%;height: 20%;margin: 2%;}
.infoProdotto{float: right;border: 2px solid red;width: 65%;height: 55%;margin: 1%}