.cover_menu{width: 100%;height: 20%;text-align: center;}

.cover_menu_item{ list-style: none;}

.cover_menu_item li{position: relative;display: inline-block;padding: 2%;width: 25%; }

.cover_menu_item a{text-decoration: none;color: black;}

.cover_menu_item li:hover{background-color: #d6d6d6;}

.cover_menu_item ul {background-color: #d6d6d6;position: absolute;display: none;top: 100%;left: 0;width: 100%;}

.cover_menu_item ul li{padding:0;width: 100%;display: block;list-style: none;position: relative;}

.cover_menu_item li:hover ul{display: block;padding: 0;}


/*    scheda prodotto */
.prodotto {border: 1px solid black;width: 80%;height: 40%;margin: auto;}
.logoProdotto{float: left;height: 40%;width: 30%;border: 1px solid gold;}
.prezzoProdotto{float: right;border: 1px solid greenyellow;width: 50%;height: inherit;}
.infoProdotto{float: right;width: 100%;height: 50%;border: 1px solid red}